body {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 28px 0;
    border-top: 3px solid #309;
    border-bottom: 3px solid #309;
  }  

.menu__item {
    font: 800 20px/24px Gilroy, Roboto, arial, helvetica, sans-serif;
    color: #585858;
    text-decoration: none;
    padding: 3px 44px 0 0;
}

.menu__item-call {
    font: 800 20px/24px montserratbold, arial, helvetica, sans-serif;
    padding: 15px 30px 12px 31px;
    background: #309;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    margin:1px 9% 0 0;
  }

  .menu__item:hover {
    font: 800 20px/24px 'Montserrat', arial, helvetica, sans-serif;
    padding: 13px 30px 13px 30px;
    background: #309;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
  }

.logo {
    background: no-repeat url(img/logo.jpg);
    margin: 0 0 90px 0;
}

.logo__title {
    display: block;
    font: 900 40px/49px montserratblack, arial, helvetica, sans-serif;
    color: #309;
    padding: 150px 0 0 53%;
    width: 38%;
    text-align: right;
    margin: 0 0 10px 0;
}

.logo__subtitle {
    display: block;
    width: 30%;
    padding: 0 5px 152px 60.9%;
    margin: 0px;
    font: 700 30px/36px montserratbold, arial, helvetica, sans-serif;
    text-align: right;
    color: #fff;
}

.advantages__title {
    font-family: Montserrat;
}

.individ__title {
    font-family: Montserrat;
}

.individ__subtitle {
    font-family: Montserrat; 
}

.prices__title {
    font-family: Montserrat;
}

.prices__subtitle {
    font-family: Montserrat;
}

.result__title {
    font-family: Montserrat;
}

.result__subtitle {
    font-family: Montserrat;
}

.advantages__btn {
    font-family: Montserrat;
}

.skills__title {
    font-family: Montserrat;
}

.one__title {
    font-family: Montserrat;
}

.one__subtitle {
    font-family: Montserrat;
}

.two__title {
    font-family: Montserrat; 
}

.two__subtitle {
    font-family: Montserrat; 
}

.three__title {
    font-family: Montserrat; 
}

.three__subtitle {
    font-family: Montserrat; 
}

.form__title {
    font-family: Montserrat; 
}

.form__subtitle {
    font-family: Montserrat; 
}

.form__one {
    font-family: Montserrat; 
}

.form__two {
    font-family: Montserrat; 
}

.form__three {
    font-family: Montserrat;
}

.form__btn {
    font-family: Montserrat;
}

.footer__title {
    font-family: Roboto;
}

.footer__subtitle {
    font-family: Roboto;
}

@media (max-width: 1150px) {
    .logo__title {
      padding: 121px 0 0 51%;
      width: 45%;
      margin: 0 0 10px 0;
      text-align: left;
    }
  
    .logo__subtitle {
      width: 40%;
      padding: 0 5px 133px 49.5%;
      text-align: right;
    }
}

@media (max-width: 969px) {
    .logo__title {
      padding: 121px 0 0 45%;
      width: 50%;
      margin: 0 0 10px 0;
      text-align: left;
    }
  
    .logo__subtitle {
      width: 40%;
      padding: 0 5px 133px 49.5%;
      text-align: right;
    }
}

@media (max-width: 875px) {
    .logo__title {
      padding: 69px 0 9px 36%;
      width: 53%;
      margin: 0 0 10px 0;
      text-align: left;
    }
  
    .logo__subtitle {
      width: 40%;
      padding: 0 5px 133px 49.5%;
      text-align: right;
    }
}

@media (max-width: 666px) {
    .logo__title {
      display: block;
      font: 900 20px/24px montserratblack, arial, helvetica, sans-serif;
      padding: 13vw 0 6vw 53%;
      width: 40%;
      margin: 0;
      text-align: right;
    }
  
    .logo__subtitle {
      display: block;
      width: 37%;
      padding: 0 0 14vw 56%;
      font: 700 16px/20px montserratbold, arial, helvetica, sans-serif;
      text-align: right;
      color: #fff;
    }
}