body {
    height: 100vh;
    margin: auto;
}

.wrapper {
    margin: auto;
    width: 82%;
}

.menu__item {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
}

.call__item {
    font-family: montserratbold;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    text-decoration: none;
}

.logo__title {
    font-family: Montserrat;
    font-size: 40px;
    line-height: 49px;
    font-weight: 900;
}

.logo__subtitle {
    font-family: Montserrat;
}

.advantages__title {
    font-family: Montserrat;
}

.individ__title {
    font-family: Montserrat;
}

.individ__subtitle {
    font-family: Montserrat; 
}

.prices__title {
    font-family: Montserrat;
}

.prices__subtitle {
    font-family: Montserrat;
}

.result__title {
    font-family: Montserrat;
}

.result__subtitle {
    font-family: Montserrat;
}

.advantages__btn {
    font-family: Montserrat;
}

.skills__title {
    font-family: Montserrat;
}

.one__title {
    font-family: Montserrat;
}

.one__subtitle {
    font-family: Montserrat;
}

.two__title {
    font-family: Montserrat; 
}

.two__subtitle {
    font-family: Montserrat; 
}

.three__title {
    font-family: Montserrat; 
}

.three__subtitle {
    font-family: Montserrat; 
}

.form__title {
    font-family: Montserrat; 
}

.form__subtitle {
    font-family: Montserrat; 
}

.form__one {
    font-family: Montserrat; 
}

.form__two {
    font-family: Montserrat; 
}

.form__three {
    font-family: Montserrat;
}

.form__btn {
    font-family: Montserrat;
}

.footer__title {
    font-family: Roboto;
}

.footer__subtitle {
    font-family: Roboto;
}

